         <!--blog Tables-->
        <section id="post" class="secondary-color text-center scrollto clearfix ">
            <div class="row clearfix">

               
               

                <div class="post-block wow fadeInUp" data-wow-delay="0.4s" >

                <app-posts [post] = "post"></app-posts>
                            
                </div>
                <button (click)="goBack()"> <i class="fa fa-arrow-circle-o-left"></i> {{blog.btnTxt}}</button>
               

             
                

            </div>
        </section>
        <!--End of Blog Tables-->
