 <!--Banner Content-->
 <div id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
        <div id="banner-content" class="row clearfix">

            <div class="col-38">

                <div class="section-heading">
                    <h1>{{home.heading}}</h1>
                    <h2>{{home.headingtext}}</h2>
                </div>

                <!--Call to Action-->
                <a href="{{home.buttonlink}}" class="button">{{home.buttontext}}</a>
                <!--End Call to Action-->

            </div>

        </div><!--End of Row-->
        </div>